# Example .gitignore file for your config dir.

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!.circleci/config.yml

# Ignore folders.
.storage
.cloud
.google.token

#Ignore homekit state
.homekit.state

#Ignore logs, dbs and bkps
*.log
*.db
*.bkp

#Ignore tts folder that stores google translate mp3s
tts

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
.ios.conf

#IDE settings
.vscode
.idea/*